In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
dog = pd.read_csv('dognition_data_no_aggregation_with_zip_code_correction.csv')
dog

C:\Users\daysg\AppData\Local\Temp\ipykernel_17248\2795354515.py:1: DtypeWarning: Columns (21,23,24,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  dog = pd.read_csv('dognition_data_no_aggregation_with_zip_code_correction.csv')

,Created_at,Updated_at,User_ID,Dog_ID,Test_name,Subcategory_name,Gender,Birthday,Breed,Breed_Type,...,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type,Rating,Rank_by_UserID,Rank_by_DogID
0,5/13/2013 16:17,5/13/2013 16:17,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Yawn Warm-up,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1.0,0.0,2/23/2015 13:39,2,NaN,1.0,1.0
1,5/22/2013 18:54,5/22/2013 18:54,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Yawn Game,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1.0,0.0,2/23/2015 13:39,2,NaN,2.0,2.0
2,5/22/2013 18:55,5/22/2013 18:55,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1.0,0.0,2/23/2015 13:39,2,NaN,3.0,3.0
3,5/22/2013 18:56,5/22/2013 18:56,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Eye Contact Game,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1.0,0.0,2/23/2015 13:39,2,NaN,4.0,4.0
4,5/22/2013 18:58,5/22/2013 18:58,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Treat Warm-up,Communication,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1.0,0.0,2/23/2015 13:39,2,NaN,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177476,5/14/2013 8:45,5/14/2013 8:45,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,One Cup Warm-up,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,4/28/2014 1:18,1,NaN,12.0,12.0
177477,5/14/2013 8:50,5/14/2013 8:50,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Two Cup Warm-up,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,4/28/2014 1:18,1,NaN,13.0,13.0
177478,5/14/2013 8:54,5/14/2013 8:54,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Memory versus Pointing,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,4/28/2014 1:18,1,NaN,14.0,14.0
177479,5/19/2013 4:45,5/19/2013 4:45,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Memory versus Smell,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,4/28/2014 1:18,1,NaN,15.0,15.0
177480,5/19/2013 5:05,5/19/2013 5:05,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Delayed Cup Game,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,4/28/2014 1:18,1,NaN,16.0,16.0

In [5]:
dog.describe()

,Birthday,Weight,Dog_Fixed,DNA_Tested,Sign_in_Count,Max_Dogs,Membership_ID,Subscribed,Rank_by_UserID,Rank_by_DogID
count,177481.000000,177481.000000,175317.000000,52968.000000,177481.000000,177481.000000,176335.00000,177481.000000,177025.000000,177025.000000
mean,2009.898265,42.683442,0.876144,0.141633,11.441771,1.373251,7.11325,0.665192,14.008728,8.494088
std,3.280318,29.171277,0.329418,0.348676,69.452489,1.545094,4.20112,0.471925,49.376213,6.670537
min,1982.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,1.000000,1.000000
25%,2008.000000,20.000000,1.000000,0.000000,3.000000,1.000000,2.00000,0.000000,3.000000,3.000000
50%,2011.000000,40.000000,1.000000,0.000000,5.000000,1.000000,10.00000,1.000000,8.000000,7.000000
75%,2012.000000,60.000000,1.000000,0.000000,10.000000,1.000000,10.00000,1.000000,15.000000,13.000000
max,2015.000000,190.000000,1.000000,1.000000,1695.000000,36.000000,17.00000,1.000000,1075.000000,45.000000

In [6]:
dog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177481 entries, 0 to 177480
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Created_at        177481 non-null  object
 1   Updated_at        177481 non-null  object
 2   User_ID           177481 non-null  object
 3   Dog_ID            177481 non-null  object
 4   Test_name         177481 non-null  object
 5   Subcategory_name  177481 non-null  object
 6   Gender            177481 non-null  object
 7   Birthday          177481 non-null  int64
 8   Breed             177481 non-null  object
 9   Breed_Type        177481 non-null  object
 10  Breed_Group       88923 non-null   object
 11  Weight            177481 non-null  int64
 12  Dog_Fixed         175317 non-null  float64
 13  DNA_Tested        52968 non-null   float64
 14  Dimension         91070 non-null   object
 15  Sign_in_Count     177481 non-null  int64
 16  Max_Dogs          177481 non-null  int64
 17  Membership_ID     176335 non-null  float64
 18  Subscribed        177481 non-null  int64
 19  City              138477 non-null  object
 20  State             138492 non-null  object
 21  Zip               138127 non-null  object
 22  Country           139516 non-null  object
 23  Exclude           12763 non-null   object
 24  Free_Start_User   36321 non-null   object
 25  Last_Active_At    147876 non-null  object
 26  Membership_Type   176400 non-null  object
 27  Rating            1873 non-null    object
 28  Rank_by_UserID    177025 non-null  float64
 29  Rank_by_DogID     177025 non-null  float64
dtypes: float64(5), int64(5), object(20)
memory usage: 40.6+ MB

In [7]:
dog.pivot_table(index='State', columns='Rating', aggfunc=len)

       Birthday                                               ...  Zip       \
Rating      0.0  1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0  ...    1    2
State                                                         ...
0           3.0  2.0  NaN  1.0  1.0  3.0  1.0  1.0  NaN  NaN  ...  NaN  NaN
13          NaN  NaN  1.0  1.0  1.0  2.0  2.0  2.0  NaN  NaN  ...  NaN  NaN
AB          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  2.0  2.0
AK          NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
AZ         12.0  2.0  1.0  1.0  1.0  NaN  2.0  1.0  4.0  2.0  ...  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
WI          NaN  1.0  NaN  NaN  1.0  1.0  1.0  NaN  NaN  NaN  ...  NaN  NaN
WV          NaN  1.0  NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN  ...  NaN  NaN
WY         11.0  NaN  3.0  2.0  NaN  NaN  NaN  NaN  NaN  2.0  ...  NaN  NaN
X           2.0  NaN  NaN  2.0  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
ZH          NaN  1.0  NaN  NaN  1.0  NaN  1.0  NaN  NaN  NaN  ...  NaN  NaN


Rating   3   4    5   6   7   8    9 TRUE
State
0      NaN NaN  NaN NaN NaN NaN  NaN  NaN
13     NaN NaN  NaN NaN NaN NaN  NaN  NaN
AB     NaN NaN  1.0 NaN NaN NaN  1.0  NaN
AK     NaN NaN  NaN NaN NaN NaN  NaN  NaN
AZ     NaN NaN  NaN NaN NaN NaN  NaN  NaN
...     ..  ..  ...  ..  ..  ..  ...  ...
WI     NaN NaN  NaN NaN NaN NaN  NaN  NaN
WV     NaN NaN  NaN NaN NaN NaN  NaN  NaN
WY     NaN NaN  NaN NaN NaN NaN  NaN  NaN
X      NaN NaN  NaN NaN NaN NaN  NaN  NaN
ZH     NaN NaN  NaN NaN NaN NaN  NaN  NaN

[61 rows x 588 columns]